<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>SUFeedURL</key>
    <string>https://github.com/zmlabs/type-free/releases/latest/download/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>2juOnNXr6HOsm2Ra/N8K64ozvN4Mx7T4tyLBU39K5H0=</string>
</dict>
</plist>
